In [1]:
import pandas as pd
from sklearn.decomposition import TruncatedSVD
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
import re
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.decomposition import TruncatedSVD

#import library yg dibutuhkan

In [2]:
data = [] #import data mentah dari folder
for i in range(150):
    f = open("data/mentah/"+str(i+1)+".txt", "r+", encoding='utf-8')
    lines = f.readlines()
    del lines[0]
    f.close()
    a = " ".join(lines)
    data.append(a.replace("\n", " "))
    
#memasukkan data kedalam array untuk nantinya akan di eksekusi
#data tersebut menghilangkan baris pertama, karena pada baris pertama berisi judul

In [3]:
sdata = pd.DataFrame({"Data":data})
sdata
#menampilkan data dalam bentuk data frame

                                                  Data
0    Umanis Galungan sapunika taler umanis kuningan...
1    Yéning maosang parindikan ajah-ajahan Tri Kaya...
2    Yéning pikayunin, gumanti makuéh pikobet jroni...
3    Sira tan uning Gunung lan Danu Batur? Sajabag ...
4    Ring gumine iraga pastika uning unduk magnet. ...
..                                                 ...
145  Tirta Gangga inggih punika genah sané dumun ka...
146  Semangka utawi tembikai nggih punika woh-wohan...
147  Semut rumasuk ring soroh beburon. Sarwa buron ...
148  Sentul inggih punika silih sinunggil soroh woh...
149  Songkét inggih punika soroh kain tradisional s...

[150 rows x 1 columns]

In [23]:
pakar = [] #import data pakar mentah dari folder
for i in range(150):
    f = open("data/pakar/"+str(i+1)+".txt", "r+", encoding='utf-8')
    lines = f.readlines()
    del lines[0]
    f.close()
    a = " ".join(lines)
    a = a.lower()
    a = a.strip()
    pakar.append(a.replace("\n", " "))
    
#memasukkan data pakar ke dalam array untuk nantinya di bandingkan dengan hasil rengkuman CLSA
#data pakar juga dilakukan preprocessing berupa case folding
#data tersebut menghilangkan baris pertama, karena baris pertama berupa judul

In [24]:
spakar = pd.DataFrame({"Data Pakar":pakar})
spakar
#menampilkan data pakar dalam bentuk data frame

                                            Data Pakar
0    umanis galungan sapunika taler umanis kuningan...
1    yéning maosang parindikan ajah-ajahan tri kaya...
2    yéning pikayunin, gumanti makuéh pikobet jroni...
3    sira tan uning gunung lan danu batur? gunung b...
4    ring gumine iraga pastika uning unduk magnet. ...
..                                                 ...
145  tirta gangga inggih punika genah sané dumun ka...
146  semangka utawi tembikai nggih punika woh-wohan...
147  semut rumasuk ring soroh beburon. semut madué ...
148  sentul inggih punika silih sinunggil soroh woh...
149  songkét inggih punika soroh kain tradisional s...

[150 rows x 1 columns]

In [6]:
print(data[0])
print("\n")
print(pakar[0])
#ini gausah di tampilkan
#contoh data mentah dan data pakar di data ke 1

Umanis Galungan sapunika taler umanis kuningan galah melah anggén malilacita ngalimurang manah sané sampun wadih ngamargiang sahananing pamargi ring kauripan minakadi makarya, ngamargiang pamargi ring adat, taler sané tiosan. Manawita jagaté mangkin tios kahanané kadi dumun. Mangkin kramané akéh pakaryané ngantos nénten madué galah anggén malancaran sareng kaluarga. Wantah ring rainan kadi Galungan lan Kuningan galah melah anggén masliahan.  Ring dija genah sané melah anggén malancaran? Sinalih tunggil genah sané becik anggén malancaran inggih punika segara lan gunung. Akéh kramané ka pasisi mabalih ombak saling candén, wénten taler sané masiram ring pasih utawi wantah negak-negak kémanten ngarasayang tis anginé ngasirsir. Satios ring pasisi, genah sané becik taler karauhin  wantah ring gunung, pamekas Gunung Batur. Gunung Batur becik pakantenané duaning wénten Danu Batur irika. Taler kawéntenan jagaté gesit  ring Kintamani. Akéh kramane saking kota malancaran irika.  Mangkin sampun mabading, yéning ring gunung doh utawi tan madué pasih, sinah  malancaran ka pasisi. Kénten taler semetoné saking kota, wadih sareng panes jagaté, sapunika taler polusiné sané sayan nincap, nuju wénten galah, akéh melali ka gunung. Wénten sané ngajak gegélanipun, wénten taler sareng kaluarga. Segara lan gunungé pinaka genah sané banget kasenengin olih krama Baliné jagi kanggén ngalimurang manah.  Segara lan gunungé sampun sapatutnyané kapiara, jaga mangda nénten usak, uug. Segarané mangda resik tan wénten leluu pamekas leluu plastik. Patut uratiang indiké punika. Yéning sampun becik, resik, sinah sampun akéh kramane malancaran irika. Becik taler anggén genah melasti ngaturang puja ring Hyang Baruna. Sapunika taler ring gunung, satios mangda resik sekadi ring segara, patut pisan uratiang indik kramané sané ngerereh bias irika. Sampunang nyabran rahina ngokoh bias, kaambil laut kaadol. Sayuakti biase punika wantah paican Widhi, sakémaon, yén sami kaambil sinah sampun palemahané pacang usak, tan becik pakantenané yéning cingakina sareng krama sané malancaran. Yén sampun tan kapiara sinah sampun akidik torisé pacang rauh, yén sampun akidik, sinah akéh villa muah restoran sané matutup. Yén sampun kénten janten sampun akéh kramané sané makarya irika pacang kélangan pakaryan, duaning akéhan krama Baliné ngarereh pangupajiwa ring pariwisata.  Pariwisata punika sida ajeg, torisé taler akéh sané rauh yéning iraga sumeken miara tur nyaga kahanan segara muah gunungé. Palemahan sané gumanti ngulangunin sang sané nyingakin. Palemahan paican Widhi sané gumanti patut kapiara mangda sida ngametuang amerta. Segara gunung  pacang ngawi jagat Baliné sayan mataksu satios ring budaya sané patut kalimbakang malih kawéntenannyané.


umanis galungan sapunika taler umanis kuningan galah melah anggén malilacita ngalimurang manah sané sampun wadih ngamargiang sahananing pamargi ring kauripan minakadi makarya, ngamargiang pamargi ring adat, taler sané tiosan. sinalih tunggil genah sané becik anggén malancaran inggih punika segara lan gunung. satios ring pasisi, genah sané becik taler karauhin  wantah ring gunung, pamekas gunung batur. gunung batur becik pakantenané duaning wénten danu batur irika. mangkin sampun mabading, yéning ring gunung doh utawi tan madué pasih, sinah  malancaran ka pasisi. kénten taler semetoné saking kota, wadih sareng panes jagaté, sapunika taler polusiné sané sayan nincap, nuju wénten galah, akéh melali ka gunung. segara lan gunungé pinaka genah sané banget kasenengin olih krama baliné jagi kanggén ngalimurang manah.segara lan gunungé sampun sapatutnyané kapiara, jaga mangda nénten usak, uug. segarané mangda resik tan wénten leluu pamekas leluu plastik. sapunika taler ring gunung, satios mangda resik sekadi ring segara, patut pisan uratiang indik kramané sané ngerereh bias irika. yén sampun kénten janten sampun akéh kramané sané makarya irika pacang kélangan pakaryan, duaning akéhan krama baliné ngarereh pangupajiwa ring pariwisata.pariwisata punika sida ajeg, torisé taler akéh sané rauh yéning iraga sumeken miara tur nyaga kahanan segara muah gunungé. segara gunung  pacang ngawi jagat baliné sayan mataksu satios ring budaya sané patut kalimbakang malih kawéntenannyané.

In [7]:
print(len(data))
print(len(pakar))

150
150

In [8]:
prepdata = [] #preprocessing data
for i in data:
    #merubah ke huruf kecil (case folding)
    a = i.lower() 
    
    #menghapus spasi di akhir kalimat
    a = a.strip() 
    
    #memejah kalimat berdasarkan titik (data tersebut berupa array) / (tokenizing)
    a = a.split(".")
    
    #menghapus array yg kosong
    while("" in a): 
        a.remove("")
    prepdata.append(a)
    
#prepocessing data disini pake case folding dan tokenizing
#kegunaan tokenizing disini untuk nantinya dilakukan peringkasan dengan menggunakan metode

In [9]:
sprepdata = pd.DataFrame(prepdata)
sprepdata.head(3)
#menampilkan data hasil prepocessing kedalam data frame

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
0,umanis galungan sapunika taler umanis kuningan...,manawita jagaté mangkin tios kahanané kadi dumun,mangkin kramané akéh pakaryané ngantos nénten...,wantah ring rainan kadi galungan lan kuningan...,ring dija genah sané melah anggén malancaran...,akéh kramané ka pasisi mabalih ombak saling c...,"satios ring pasisi, genah sané becik taler ka...",gunung batur becik pakantenané duaning wénten...,taler kawéntenan jagaté gesit ring kintamani,akéh kramane saking kota malancaran irika,...,None,None,None,None,None,None,None,None,None,None
1,yéning maosang parindikan ajah-ajahan tri kaya...,tri kaya parisudha manut saking tigang kruna;...,"tri wantah tetiga, kaya inggih punika parilak...",tri kaya parisudha yéning kajangkepang wantah...,napi kémanten tetiga parilaksana punika? asik...,wacika nenten ja tios wantah ngaraos sane bec...,yapi tui ri angen-angen mapahala juga ya,"yadiastun kantun ring pikayun, sakéwanten pun...",yéning mapikayun sané nénten becik sinah paca...,"punika taler yéning mapikayun sané becik, wan...",...,yéning pineh-pinehang punika wantah manik pai...,"niki mawalik, risampune madué anak alit, boya...",tri kaya parisudhané punika patut margiang r...,yén punika nenten kamargiang sinah sampun jag...,"riantukan, bali puniki kaloktah ngantos ring ...","sampunang baliné kémanten mataksu, iraga pina...",None,None,None,None
2,"yéning pikayunin, gumanti makuéh pikobet jroni...","yadian ring kulawarga, sareng sameton, sareng...",sakancan pikobet punika gumanti ngawinang ira...,"wawu iwang akidik nyapatin, iraga sampun mamedih","napi malih iwang sané agengan, minab nyantos ...",napi mawinan nyabran rahina wénten manten pi...,"pakaryané punika yéning tan sumeken ambil, si...","bilih-bilih sané makarya ring bank, nyabran r...",pakaryané punika patut tresnain waluyaning nr...,yén ten kénten sinah sampun iraga marasa abot...,...,sané patut kinucap nénten patut,sané nénten patut sangkaning wiwéka ical baan...,"yéning sami kadi asapunika, punapi kabénjanga...",punapi dadosné padéwékan iragané yéning sayua...,ngélingin genah linggih soang-soang,ngélingin sesana soang-soang,taler patut éling ring swadarma soang-soang,"yén sampun punika kamargiang, sinah dangan an...",nénten wénten nyantos marebat bilih-bilih ira...,"margiang punika antuk manah lascarya, subakti..."

In [11]:
matrixsvd = []
for i in prepdata:
    #perhitungan tfidf
    tfidf = TfidfVectorizer()
    matrix = tfidf.fit_transform(i)
    
    svd = TruncatedSVD(n_components = len(i))
    lsa = svd.fit_transform(matrix)
    
    encodmatrix=svd.components_
    matrixsvd.append(abs(encodmatrix))
#membentuk matrix SVD dari setiap data yang telah melalui tahap preprocessing
#perhitungan atau pembentukan svd diawali dengan perhitungan tfidf pada masing masing data
#perhitungan tfidf dilakukan dengan menggunakan library

In [12]:
smatrixsvd = pd.DataFrame(matrixsvd[0])
smatrixsvd.head(10)
#manmpilkan 10 data teratas hasil pembentukan matrix svd pada data pertama atau data nomor 1
#data ditampilkan dalam bentuk data frame

,0,1,2,3,4,5,6,7,8,9,...,172,173,174,175,176,177,178,179,180,181
0,0.021670,0.024633,0.055388,0.183840,0.035432,0.023066,0.154279,0.022454,0.071223,0.022648,...,0.057885,0.064050,0.029672,0.027694,0.047480,0.112624,0.052008,0.126208,0.102403,0.136811
1,0.027775,0.017576,0.132443,0.191971,0.041311,0.002277,0.154941,0.014864,0.011211,0.020748,...,0.068083,0.022586,0.029826,0.066221,0.044872,0.082334,0.043574,0.091388,0.178866,0.177890
2,0.001786,0.042647,0.042445,0.134037,0.010864,0.130487,0.058079,0.029481,0.098336,0.057530,...,0.092316,0.068266,0.079408,0.021223,0.045865,0.025787,0.137758,0.153816,0.063017,0.018732
3,0.036054,0.004639,0.022705,0.016505,0.000501,0.053493,0.301736,0.029253,0.027894,0.067246,...,0.054903,0.020195,0.056409,0.011353,0.009209,0.051741,0.042871,0.300779,0.023132,0.018131
4,0.026941,0.031490,0.004113,0.099037,0.011684,0.080620,0.018373,0.022692,0.042792,0.005368,...,0.026569,0.008426,0.037996,0.002056,0.087948,0.043201,0.064490,0.175991,0.012740,0.034258
5,0.014980,0.027919,0.047261,0.169267,0.029303,0.037402,0.035348,0.044883,0.077793,0.007639,...,0.070679,0.101516,0.025141,0.023630,0.063490,0.128968,0.081588,0.212504,0.058631,0.038431
6,0.014919,0.012289,0.108058,0.084800,0.035462,0.044853,0.155759,0.047539,0.041320,0.031718,...,0.005998,0.120123,0.011289,0.054029,0.000010,0.060824,0.035858,0.146155,0.120133,0.050896
7,0.043648,0.038250,0.073963,0.033409,0.089530,0.065268,0.115767,0.005679,0.161929,0.092257,...,0.004691,0.085149,0.011507,0.036982,0.079924,0.040361,0.072993,0.147288,0.119035,0.071738
8,0.021291,0.020212,0.028036,0.019727,0.014079,0.083696,0.014494,0.003947,0.059356,0.068882,...,0.114483,0.014366,0.140379,0.014018,0.023098,0.038154,0.084863,0.216125,0.043658,0.025086
9,0.009802,0.048447,0.013385,0.078988,0.001303,0.043389,0.012775,0.106436,0.065483,0.026626,...,0.070200,0.167549,0.057781,0.006692,0.007985,0.021029,0.057396,0.030586,0.026943,0.045046

In [13]:
lsa = []
for i in matrixsvd:
    temp = []
    for j in i:
        temp.append(sum(j))
    lsa.append(temp)
#pembentukan nilai lsa pada masing masing data

In [15]:
slsa = pd.DataFrame(lsa)
slsa
#menampilkan data lsa kedalam data frame

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
0,10.102951,9.272695,10.052366,10.007757,9.829592,10.123845,10.242455,10.314565,9.023748,9.946162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9.313195,8.804990,6.993813,10.193169,10.578365,10.974917,11.570902,11.149762,11.312441,11.831635,...,11.340510,10.201134,8.328701,8.102800,7.670219,8.004024,NaN,NaN,NaN,NaN
2,10.410813,7.147558,9.244789,9.157224,11.157735,11.686244,11.313332,10.893170,11.728141,11.739444,...,12.133984,11.574047,11.389429,11.959004,12.195499,11.486925,10.918810,10.913508,9.943424,5.147421
3,10.189697,10.038062,9.841787,9.721829,8.961399,10.096946,10.969964,9.677467,11.156793,11.121235,...,11.608277,11.003832,11.433895,10.102951,11.269110,10.166177,10.433917,10.483720,NaN,NaN
4,8.201652,6.548698,8.396574,8.450488,8.680994,7.915763,8.516188,7.607373,8.289129,7.930064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,7.033396,6.864971,4.687436,5.978473,6.447689,6.712128,6.509425,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,6.287812,5.468621,6.464204,6.671690,6.534345,4.350911,4.636453,6.057177,6.206221,4.937680,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,6.368440,6.943215,6.507974,6.177812,5.586815,6.017228,5.715991,7.154276,5.476032,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,5.688338,6.943078,5.974764,6.882618,5.526075,5.470359,5.102012,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,9.016623,7.641983,9.674903,9.919181,10.043307,9.878334,9.799486,8.309817,8.231571,9.827362,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
rangkuman = []
for i in range(len(lsa)):
    temp = []
    for j in range(len(lsa[i])):
        if lsa[i][j] >= np.mean(lsa[i]):
            temp.append(prepdata[i][j])
    hasil = ".".join(temp)
    hasil = hasil.strip()
    rangkuman.append(hasil)
#menghitung dan menentukan hasil rangkuman pada metode lsa
#hasil di tentukan setelah menghitung lenght pada masing masing data

In [18]:
srangkuman = pd.DataFrame({"Rangkuman":rangkuman})
srangkuman
#menampilkan hasil rangkuman kedalam dataframe

                                             Rangkuman
0    akéh kramané ka pasisi mabalih ombak saling ca...
1    napi kémanten tetiga parilaksana punika? asiki...
2    napi malih iwang sané agengan, minab nyantos m...
3    punika sangkaning wénten taru sané miik ngalub...
4    ring gumine iraga pastika uning unduk magnet. ...
..                                                 ...
145  tirta gangga inggih punika genah sané dumun ka...
146  semangka utawi tembikai nggih punika woh-wohan...
147  semut rumasuk ring soroh beburon. sarwa buron ...
148  sentul dados kaanggén sanganan tur prasida kaa...
149  songkét inggih punika soroh kain tradisional s...

[150 rows x 1 columns]

In [19]:
from rouge_score import rouge_scorer
#library untuk melakukan pengujian ROUGE

In [35]:
rouge1=[]
for i in range(len(rangkuman)):
    scorer = rouge_scorer.RougeScorer(['rouge1'], use_stemmer=True)
    scores = scorer.score(pakar[i], rangkuman[i])
    rouge1.append(scores["rouge1"])
hasilrouge = pd.DataFrame(rouge1)
#menguji hasil peringkasan dengan menggunakan rougeL
#pengujian dilakukan dengan menghasilkan hasil rangkuman dengan hasil pakar

In [36]:
srouge = pd.DataFrame(hasilrouge)
srouge
#menampilkan hasil pengujian pada tiap masing masing data

     precision    recall  fmeasure
0     0.665306  0.711790  0.687764
1     0.472464  0.711790  0.567944
2     0.465565  0.840796  0.599291
3     0.617284  0.625000  0.621118
4     0.717742  0.626761  0.669173
..         ...       ...       ...
145   0.768116  0.546392  0.638554
146   0.589041  0.671875  0.627737
147   0.800000  0.580645  0.672897
148   0.840909  0.616667  0.711538
149   0.659091  0.610526  0.633880

[150 rows x 3 columns]

In [37]:
df = pd.DataFrame({"value":hasilrouge.mean()*100})
df
#menampilkan rata rata pengujian

               value
precision  71.056426
recall     67.672605
fmeasure   67.595528